ul, li {
  text-decoration: none;
  list-style-type: none;
}
*{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
  background-color: rgba(34, 0, 34, 0.883);
  color: #ffffff;
}
.header-area{
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 600;
  color: rgba(254, 254, 46, 0.857);

}
.container{
  display: flex;
}
.content{
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
  
}
.button-Area, #result{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.play-Again{
  display:flex ;
  margin: auto;
  padding: 5px 32px;
  font-size: 16px;
  background-color: #ffbd03;
  border-radius: 5px;
}
#score-Balance{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}
#rule{
  font-size: 26px;
  color: rgba(254, 254, 46, 0.857);
  
}
#result{
  display: flex;
  color: rgb(208, 204, 204);
}
.footerArea{
  display: flex;
  flex: 1;
}
.handGesture{
  border: 3px solid black;
  background-color: rgba(243, 243, 243, 0);
  padding: 10px;
  border-radius: 8px;
}

img:active{
  animation-name: bgTransition;
  animation-duration: 0.2;
  transition: 0s;
  background-color: #ffffff94;
}
img:hover{
  cursor:pointer;
}
a, a:visited {
  color: #ffffff;
  text-decoration: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  display: flex;
  gap: 8px;
  align-items: center;
}